{% extends "main/base.html" %}
{% load static %}
{% load utils %}

{% block scripts %}
<script defer src="{% static 'js/main.e26de469.js' %}"></script>
<link href="{% static 'css/main.48a432d8.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Actually all{% endblock %}

{% block header %}
<div class="pl-2">
    <a href="{% url 'main:submitPost' %}" title="submit post">
        <img alt="add post" src="{% static 'main/images/add-line.svg' %}" />
    </a>
</div>
<div class="pl-2">
    <a href="{% url 'main:search' %}" title="search">
        <img alt="search for post" src="{% static 'main/images/search.svg' %}" />
    </a>
</div>
<div class="pl-2">
    <a href="{% url 'main:sortListing' %}" title="sort listing">
        <img  alt="sort posts" src="{% static 'main/images/sort-desc.svg' %}" />
    </a>
</div>
{% endblock %}

{% block content %}
<div id="listing"></div>
{% endblock %}