{% extends "main/base.html" %}
{% load static %}
{% load utils %}
{% block title %}Actually all{% endblock %}

{% block header %}
<div>
    <a href="{% url 'main:submitPost' %}">
        <img src="{% static 'main/images/add-line.svg' %}" />
    </a>
</div>
{% endblock %}

{% block content %}
{% if page_obj %}
<ul role="list" class="divide-y divide-gray-500">
    {% for post in page_obj %}
    <li class="py-1 sm:py-4">
        {% if post.nsfw or post.mean %}
            <div class="flex flex-row justify-around flex-wrap py-1">
                {% if post.nsfw %}
                <div class="text-red-600">nsfw</div>
                {% endif %}    
                {% if post.mean %}
                <div class="text-red-600">mean</div>
                {% endif %}    
            </div>
        {% endif %}
        <div class="flex flex-row flex-wrap justify-start py-1">
            <div class="px-2 grow basis-0 flex justify-center">
                {% if post.thumbnail|isUrl %}
                    <img class="max-w-none h-min" width="70" height="70" src="{{post.thumbnail}}"/>
                {% else %}
                    <img class="max-w-none h-min" width="70" height="70" src="{% static 'main/images/text.svg' %}"/>
                {% endif %}
            </div>
            <div class="grow basis-1/2 sm:basis-4/5">
                <a href="{{'main:detail'|url2:post.id}}">
                    {{ post.title }}
                </a>
            </div>
        </div>
        <div class="flex flex-row flex-wrap justify-around py-1 text-gray-500 text-center">
            <div>{{post.subreddit_name_prefixed|default:"mm"}}</div>
            <div>{{post.user_name|default:"anon"}}</div>
            <div>{{post.created|timeSinceShort}}</div>
        </div>
        <div class="sm:flex sm:flex-row sm:justify-end">
            <div class="flex flex-row justify-around py-1 sm:w-1/2 lg:w-1/3">
                <div>{% include "main/components/vote-up-icon.html" with id=post.thing_uuid vote=post.vote only %}</div>
                <div>{% include "main/components/vote-down-icon.html" with id=post.thing_uuid vote=post.vote only %}</div>
                <div id="external-link-{{post.id}}">{% include "main/components/icon-link.html" with link=post.external_link svg="link" title="external link" only %}</div>
                <div id="reddit-link-{{post.id}}">{% include "main/components/icon-link.html" with link=post.reddit_link svg="reddit-line" title="reddit link"  only %}</div>
                <div>{% include "main/components/icon-link.html" with link="main:detail"|url2:post.id svg="discuss-line" title="view comments" only %}</div>
                <div>
                {% if post.text or post.external_link|isLoadable%}
                <img title="load content" src="{% static 'main/images/aspect-ratio-line.svg'%}" class="w-6 onclick-expand" data-post-id="{{post.id}}" width=24 height=24 />
                {% else %}
                <img src="{% static 'main/images/aspect-ratio-line-gray.svg'%}" class="w-6" width=24 height=24 />
                {% endif %}
                </div>
            </div>
        </div>

        <div class="w-full border-dashed border-fuchsia-600 border-2 text-center" id="expand-{{post.id}}" hidden>
            {% if post.text %}
            <div class="w-3/4 mx-auto text-left">
                {% include "main/components/unsafe_text.html" with nodes=post.text|textToHtmlNodes only %}
            </div>
            {%else%}
            No content
            {%endif%}
        </div>
    </li>
    {% endfor %}
</ul>
<hr class="border-gray-500">
<div class="pagination">
    <div class="flex flex-row items-center justify-center">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">
            <img src="{% static 'main/images/arrow-left-line.svg'%}" class="w-6" />
        </a>
        {% endif %}

        <div>
            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>

        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">
            <img src="{% static 'main/images/arrow-right-line.svg'%}" class="w-6" />
        </a>
        {% endif %}
    </div>
</div>
{% else %}
<p>No posts are available.</p>
{% endif %}

{% endblock %}
</body>

</html>