{% extends "main/base.html" %}
{% load static %}
{% load utils %}
{% block title %}Post - {{post.title}}{% endblock %}

{% block header %}
<div>
    {% if not post.is_local %}
    <form action="{% url 'main:loadRedditComments' post.id %}" method=" post">
        {% csrf_token %}
        <button type="submit">
            <img src="{% static 'main/images/refresh-line.svg' %}" />
        </button>
    </form>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="py-1 sm:py-4">
    {% if post.nsfw or post.mean %}
    <div class="flex flex-row justify-around py-1">
        {% if post.nsfw %}
        <div class="text-red-600">nsfw</div>
        {% endif %}    
        {% if post.mean %}
        <div class="text-red-600">mean</div>
        {% endif %}    
    </div>
    {% endif %}
    <div>
        {{ post.title }}
    </div>
    <div class="w-3/4 mx-auto">
        {% if post.text %}
        {% include "main/components/unsafe_text.html" with nodes=post.text|textToHtmlNodes only %}
        {% endif %}
    </div>
    <div class="flex flex-row flex-wrap justify-around py-1">
        <div class="text-gray-500 px-2 text-center">{{post.subreddit_name_prefixed|default:"mm"}}</div>
        <div class="text-gray-500 px-2 text-center">{{post.user_name|default:"anon"}}</div>
        <div class="text-gray-500 px-2 text-center">{{ post.created|timeSinceShort }}</div>
    </div>
    <div class="flex flex-row justify-around py-1">
        <div>{% include "main/components/vote-up-icon.html" with id=post.thing_uuid vote=post.vote only %}</div>
        <div>{% include "main/components/vote-down-icon.html" with id=post.thing_uuid vote=post.vote only %}</div>
        <div>{% include "main/components/icon-link.html" with link=post.external_link svg="link" only %}</div>
        <div>{% include "main/components/icon-link.html" with link=post.reddit_link svg="reddit-line"  only %}</div>
        <div>{% include "main/components/icon-link.html" with link="main:detail"|url2:post.id svg="discuss-line"  only %}</div>
        {% url "main:submitComment" post.id as submitCommentUrl %}
        <div>{% include "main/components/icon-link.html" with link=submitCommentUrl svg="reply-line" only %}</div>
    </div>
</div>
<hr class="border-gray-500">
{% if comments %}
<div>
    {% include "main/comment_flat.html" with post=post comments=flatComments only %}
</div>
{% else %}
<div>No comments</div>
{% endif %}
{% endblock %}