{% extends "main/base.html" %}
{% load static %}
{% load utils %}
{% block title %}Submit comment{% endblock %}

{% block content %}
{% if commentId is None %}
<form action="{% url 'main:submitComment' postId %}" method="post">
{% else %}
<form action="{% url 'main:submitComment' postId commentId %}" method="post">
    {%endif%}
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>
    <input id="comment-submit" class="bg-fuchsia-600 hover:bg-fuchsia-800 text-white font-bold py-2 px-4 rounded" 
        type="submit" value="Submit">
</form>
{% endblock %}