{% extends "main/base.html" %}
{% load static %}
{% load utils %}
{% block title %}View task{% endblock %}

{% block content %}
<table class="text-left">
    <tr>
        <th>Task:</th>
        <td>{{task.name}}</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td>{{task.status}}</td>
    </tr>
    <tr>
        <th>Result:</th>
        <td>{{result}}</td>
    </tr>
</table>
<a class="flex bg-fuchsia-600 hover:bg-fuchsia-800 text-white font-bold py-2 px-4 rounded w-fit" href="{{redirect}}">
    Return</a>
{% endblock %}