@tailwind base;
@tailwind components;
@tailwind utilities;

.errorlist {
    color: red;
}

.w-6 {
    width: 1.5rem;
}

.custom-word-breaks {
    overflow-wrap: break-word;
    word-break: break-word;
}

textarea {
    color: #000000;
}

input {
    color: #000000;
}

a:not([href]) {
    color: #6B7280;
}

.rotate-infinite {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  